
.tickets ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  li {
    flex-basis: 15rem;
  }

  li .ticket {
    margin: var(--space-4);
    padding: 2rem var(--space-3);
    border: thin solid var(--darken-1);
    box-shadow: var(--space-1) var(--space-1) var(--space-2) var(--darken-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;

    &[aria-disabled] {
      opacity: .5;
      filter: grayscale(1);
      cursor: not-allowed;
    }


    .ticket-name {
      font-size: 1rem;
    }

    .ticket-price {
      font-size: 3.5rem;
      color: var(--primary);
      font-weight: 200;
    }

    .ticket-date, .ticket-info {
      font-size: .75rem;
      color: var(--darken-3);
    }

    .btn {
      margin: var(--space-4);
    }
  }
}





